@import url("pygment_highlights.css");

/* --- General --- */

body {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

ul {
    list-style-type: square;
}

.old_news {
    margin-top:-16px;
}

.text-center {
    text-align:center;
}

