@import url("pygment_highlights.css");

/* --- General --- */

body {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 {
    font-size: 3.25rem !important;
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: 5px;
}

.old_news {
    /* margin-top:-16px; */
    margin-bottom: 0px;
}

.text-center {
    text-align:center;
}

.img-128 {
    width: 128px;
    height: 128px;
}
  
.img-200 {
width: 200px;
height: 200px;
}

.img-circle {
    object-position: center; /* Center the image within the element */
    border-radius: 50%;
}
  

em {
    color: #b90505;
}


.emphasis {
    background-color: #fef1f1;
    border-left: 4px solid #b90505;
    display: block;
    border-radius: 4px 8px 8px 4px;
    -moz-border-radius: 4px 8px 8px 4px;
    -webkit-border-radius: 4px 8px 8px 4px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0.8em!important;
    margin-top: 0.8em!important;
    orphans: 3;
}

.slide-container {
    display: flex;
    flex-direction: column;
}

.slide {
    width: 100%;
    height: auto;
    max-height: 64vh; /* Adjust as needed */
    border: none;
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
    .slide {
        min-height: 64vh;
    }
}

.slide-notes {
    width: 100%;
    padding-top: 10px;
    font-size: 0.6em;
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
    .slide-container {
        flex-direction: row;
    }

    .slide {
        width: 80%;
    }

    .slide-notes {
        width: 20%;
        padding-left: 10px;
        padding-top: 0;
    }
}


#timeline {
    margin-top: 1rem;
    position: relative;
    display: table;
    margin-left:24px;
}

/* New container for timeline sections */
.timeline-container {
    position: relative;
}


#timeline div:after {
    content: '';
    width: 2px;
    position: absolute;
    top: .5rem;
    bottom: 0rem;
    left: 67px;
    z-index: 1;
    background: #969696
}

#timeline h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    color: #969696;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1em;
    font-weight: 400
}

#timeline section.year {
    position: relative;
    float: left
}

#timeline section.year:first-child section {
    margin-top: -1.3em;
    padding-bottom: 0px
}

#timeline section.year section {
    position: relative;
    padding-bottom: 1.25em;
    margin-bottom: 2em;
    top: -5px;
    right: -8px
}

#timeline section.year section h4 {
    position: absolute;
    bottom: 0;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0;
    padding: 0 0 0 82px;
    color: #969696
}

#timeline section.year section ul {
    list-style-type: none;
    padding: 0 0 0 75px;
    margin: -1.35rem 0 1em;
    max-width: 50rem
}

@media (min-width: 62em) {
    #timeline section.year section ul {
        padding:0 0 0 81px
    }
}

#timeline section.year section ul:last-child {
    margin-bottom: 0
}

#timeline section.year section ul:first-of-type:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #969696;
    border: 1px solid #969696;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 55px;
    top: 9px;
    z-index: 2
}

#timeline section.year section ul li {
    margin-left: 0rem
}

#timeline section.year section ul li:before {
    content: '';
    margin-left: -.25rem;
    padding-right: .3rem
}

#timeline section.year section ul li:not(:first-child) {
    margin-top: .5rem
}

.footnotes {
    margin-top: -1.5rem !important;
}

.footnotes li {
    margin-bottom: -1.5rem !important;
    font-size: 0.7em !important;
}

a.anchor-link {
    display: none;
  }

.jp-InputPrompt {
    display: none;
}  
  
.jp-OutputArea-output  {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.talk {
display: flex;
align-items: center; /* Adjusts vertical alignment for multiple lines */
margin-bottom: 10px; 
margin-left: -16px;
}
.talk img {
width: 80px; 
height: 80px; 
border-radius: 50%; /* Makes the image circular */
margin-right: 10px;
/* object-fit: cover; Prevents image from stretching */
}
.talk-content {
flex: 1; /* Takes up remaining space, pushing content next to the image */
}


@media (max-width: 768px) { /* Adjusts for devices with width 768px or less */
.talk img {
    margin-left: 0px;
    display: block; /* Hides the image on smaller devices */
    object-fit: cover; /* Prevents image from stretching */
}
}
